<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>BazaKontakt</display-name>
    <servlet-name>BazaKontakt</servlet-name>
    <servlet-class>BazaKontakt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BazaKontakt</servlet-name>
    <url-pattern>/BazaKontakt</url-pattern>
  </servlet-mapping>
  <display-name>DigitalMaster</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>prod</display-name>
    <servlet-name>prod</servlet-name>
    <servlet-class>prod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prod</servlet-name>
    <url-pattern>/prod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BazaPorudzbina</display-name>
    <servlet-name>BazaPorudzbina</servlet-name>
    <servlet-class>BazaPorudzbina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BazaPorudzbina</servlet-name>
    <url-pattern>/BazaPorudzbina</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>proba</display-name>
    <servlet-name>proba</servlet-name>
    <servlet-class>proba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proba</servlet-name>
    <url-pattern>/proba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailNovi</display-name>
    <servlet-name>MailNovi</servlet-name>
    <servlet-class>MailNovi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailNovi</servlet-name>
    <url-pattern>/MailNovi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>probaMail</display-name>
    <servlet-name>probaMail</servlet-name>
    <servlet-class>probaMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>probaMail</servlet-name>
    <url-pattern>/probaMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProveraLogovanja</display-name>
    <servlet-name>ProveraLogovanja</servlet-name>
    <servlet-class>ProveraLogovanja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProveraLogovanja</servlet-name>
    <url-pattern>/ProveraLogovanja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZaRegistrovane</display-name>
    <servlet-name>ZaRegistrovane</servlet-name>
    <servlet-class>ZaRegistrovane</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZaRegistrovane</servlet-name>
    <url-pattern>/ZaRegistrovane</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Intervencije</display-name>
    <servlet-name>Intervencije</servlet-name>
    <servlet-class>Intervencije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Intervencije</servlet-name>
    <url-pattern>/Intervencije</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PosaljiMail</display-name>
    <servlet-name>PosaljiMail</servlet-name>
    <servlet-class>PosaljiMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PosaljiMail</servlet-name>
    <url-pattern>/PosaljiMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntervencijeServlet</display-name>
    <servlet-name>IntervencijeServlet</servlet-name>
    <servlet-class>IntervencijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntervencijeServlet</servlet-name>
    <url-pattern>/IntervencijeServlet</url-pattern>
  </servlet-mapping>
</web-app>